<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom  CSS -->
    <link rel="stylesheet" href="../css/style.css"/>
    <title>The Merchant</title>
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">The Merchant Admin</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{#if user_base}}
          <li class="nav-item">
            <a class="nav-link" href="/list-games">List Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
        {{/if}}
      </ul>
    </div>
    <div>
        {{#if user_base}}
          <div class="user-logout-btn navbar-brand mr-auto">
            Welcome, <a href="/users/user-profile" class="ml-3 btn btn-primary btn-sm">{{user_base.display_name}}</a>
            <a href="/users/user-logout" class="ml-3 btn btn-primary btn-sm">Logout</a>
          </div>
        {{else}}
          <div class="user-logout-btn navbar-brand mr-auto">
            <a href="/users/user-login" class="ml-3 btn btn-primary btn-sm">Login</a>
          </div>
         {{/if}}
    </div>
  </nav>


    <div class="container">
      {{#if success_messages }}        
          {{#each success_messages}}
              <div class="alert alert-success">
                  {{this}}
              </div>
          {{/each}}        
      {{/if}}

      {{#if error_messages}}
          {{#each error_messages}}
              <div class="alert alert-danger">
                  {{this}}
              </div>
          {{/each}}       
      {{/if}}

      


      {{#block 'content'}}{{/block}}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{#block 'js'}}
    {{/block}}
  </body>
</html>