{{#extends 'base'}}

{{#block 'content'}}
<h1>The Merchant Admin</h1>


<div class="user-logout-btn navbar-brand">
    <a href="/users/user-reg" class="ml-3 btn btn-primary btn-sm">Sign Up</a>
    <a href="/users/user-login" class="ml-3 btn btn-primary btn-sm">Login</a>
</div>
{{/block}}

{{/extends}}