{{#extends 'base'}}

{{#block 'content'}}
<h1>Update Product: {{game.title}}</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Update This Game" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}