{{#extends 'base'}}

{{#block 'content'}}
<h3>User Register</h3>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}"/>
    {{{form}}}
    <input type="submit" value="Register" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}