{{#extends 'base'}}

{{#block 'content'}}

<div class="card mx-auto mt-3" >
    <div class="card-body">
        <h5 class="card-title">User Profile:</h5>
        <p class="card-text">Username: {{user.display_name}}</p>
        <p class="card-text">Email: {{user.email}}</p>
    </div>
</div>


<div class="card mx-auto mt-3" >
    <div class="card-body">
        <h5 class="card-title">User Device Specifications:</h5>
        <p class="card-text">{{user.device_specs}}</p>
    </div>
</div>




{{/block}}

{{/extends}}